<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-client_id"
    content="708746872812-g47cskogv9krvuqi63glsp148ebco7hl.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <title>Profile</title>
</head>

<body>
  <h1>
    {{ if .EditMode }}
    Complete Profile Information
    {{else}}
    Profile
    {{end}}
  </h1>
  <form method="POST">
    <label>Full name:</label><br />
    <input type="text" name="fullname" value="{{.User.Fullname}}" {{ if not .EditMode }}disabled{{end}}><br />
    <lablel>Address:</lablel><br />
    <input id="autocomplete" name="address"  value="{{.User.Address}}" {{ if not .EditMode }}disabled{{end}}><br />
    <label>Email:</label><br />
    <input type="text" name="email" value="{{.User.Email}}" disabled><br />
    <label>Telephone:</label><br />
    <input type="text" name="telephone" value="{{.User.Telephone}}" {{ if not .EditMode }}disabled{{end}}><br />
    {{ if .EditMode }}
    <input type="submit" value="Save">
    {{else}}
    <a href="profile?edit=true">Edit</a>
    {{end}}
  </form>

  <a href="#" onclick="signOut();">Sign out</a>
  <script>
    function onLoad() {
      gapi.load('auth2', function () {
        gapi.auth2.init();
      });
    }
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
        window.location.replace("/logout");
      });
    }
  </script>
  <script>
    var autocomplete;
    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('autocomplete'), { types: ['geocode'] });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_FeNvzpXb6AcKAMWkuMi88nqAvG4uYQI&libraries=places&callback=initAutocomplete"
    async defer></script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</body>

</html>