<!DOCTYPE html>
<html>

<head>
  <meta name="google-signin-scope" content="profile email openid">
  <meta name="google-signin-client_id"
    content="708746872812-g47cskogv9krvuqi63glsp148ebco7hl.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <title>Login</title>
</head>

<body>
  <h1>
    Welcome, please Login
  </h1>
  <form method="POST">
    <label>Email:</label><br />
    <input type="text" name="email"><br />
    <label>Password:</label><br />
    <input type="password" name="password"><br />
    <input type="submit">
  </form>
  <h1>
    Social login
  </h1>
  <div>
    {{ if .Failed }}
    <p>{{ .Msg }}</p>
    {{ end }}
  </div>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <script>
    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;

      gapi.auth2.getAuthInstance().disconnect().then(function () {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/login/google');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
          window.location = "/profile";
        };

        xhr.send('idtoken=' + id_token);
      })
    }
  </script>
  <a href='/signup'>Not registered?</a><br />
  <a href='/recover'>Recover account</a>
</body>

</html>