<!DOCTYPE html>
<html>
<head>
  <title>Recover user</title>
</head>
<body>
  <h1>
    Recovery link
  </h1>
  {{ if not .CantRecover }}
  <p>{{ .EmailLink }}</p>
  {{ else }}
  <p>The specified address can't be recovered. Doesn't exist, or is a Google Account email address</p><br/>
  {{end}}
</body>

</html>